In [3]:
person={
    #key : #Value
    "first" : "corey",
    "last"  : "Schafer",
    "email" : "corey@gmail.com"
}

In [4]:
people={
    #key : #Value
    "first" : ["corey"],
    "last"  : ["Schafer"],
    "email" : ["corey@gmail.com"]
}

In [5]:
people={
    #key : #Value
    "first" : ["corey","jane","john"],
    "last"  : ["Schafer","doe","hez"],
    "email" : ["corey@gmail.com","jane@gmail.com","john@hotmail.com"]
}

In [6]:
people["email"]

['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com']

In [7]:
import pandas as pd

In [11]:
df=pd.DataFrame(people)
df

   first     last             email
0  corey  Schafer   corey@gmail.com
1   jane      doe    jane@gmail.com
2   john      hez  john@hotmail.com

In [12]:
df[['last','email']]

      last             email
0  Schafer   corey@gmail.com
1      doe    jane@gmail.com
2      hez  john@hotmail.com

In [14]:
print(f"Find Type :\ntype(df)   :   {type(df)},\ntype(df['email'])  :   {type(df['email'])}\ntype(df[['last','email']]) :   {type(df[['last','email']])}")

Find Type :
type(df)   :   <class 'pandas.core.frame.DataFrame'>,
type(df['email'])  :   <class 'pandas.core.series.Series'>
type(df[['last','email']]) :   <class 'pandas.core.frame.DataFrame'>

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [20]:
#1.loc - Location ; 2. iloc - index location
df.iloc[[0,1],[0,1]] #df.iloc[listof[row,row],listof[column,column]]

   first     last
0  corey  Schafer
1   jane      doe

In [22]:
df.loc[[0,1],['last','email']] #df.loc[listof[row,row],listof[column,column]]

      last            email
0  Schafer  corey@gmail.com
1      doe   jane@gmail.com