In [62]:
person={
    #key : #Value
    "first" : "corey",
    "last"  : "Schafer",
    "email" : "corey@gmail.com"
}

In [63]:
people={
    #key : #Value
    "first" : ["corey"],
    "last"  : ["Schafer"],
    "email" : ["corey@gmail.com"]
}

In [64]:
people={
    #key : #Value
    "first" : ["corey","jane","john"],
    "last"  : ["Schafer","doe","hez"],
    "email" : ["corey@gmail.com","jane@gmail.com","john@hotmail.com"]
}

In [65]:
people["email"]

['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com']

In [66]:
import pandas as pd

In [67]:
df=pd.DataFrame(people)
df

   first     last             email
0  corey  Schafer   corey@gmail.com
1   jane      doe    jane@gmail.com
2   john      hez  john@hotmail.com

In [68]:
df[['last','email']]

      last             email
0  Schafer   corey@gmail.com
1      doe    jane@gmail.com
2      hez  john@hotmail.com

In [69]:
print(f"Find Type :\ntype(df)   :   {type(df)},\ntype(df['email'])  :   {type(df['email'])}\ntype(df[['last','email']]) :   {type(df[['last','email']])}")

Find Type :
type(df)   :   <class 'pandas.core.frame.DataFrame'>,
type(df['email'])  :   <class 'pandas.core.series.Series'>
type(df[['last','email']]) :   <class 'pandas.core.frame.DataFrame'>

In [70]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [71]:
#1.loc - Location ; 2. iloc - index location
df.iloc[[0,1],[0,1]] #df.iloc[listof[row,row],listof[column,column]]

   first     last
0  corey  Schafer
1   jane      doe

In [72]:
df.loc[[0,1],['last','email']] #df.loc[listof[row,row],listof[column,column]]

      last            email
0  Schafer  corey@gmail.com
1      doe   jane@gmail.com

In [80]:
df.set_index('email',inplace=True) # Set Index
df

                  index  first     last
email
corey@gmail.com       0  corey  Schafer
jane@gmail.com        1   jane      doe
john@hotmail.com      2   john      hez

In [76]:
df.index

Index(['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com'], dtype='object', name='email')

In [77]:
df.loc['corey@gmail.com'] # Search using Search index

first      corey
last     Schafer
Name: corey@gmail.com, dtype: object

In [79]:
df.reset_index(inplace=True)
df

   index             email  first     last
0      0   corey@gmail.com  corey  Schafer
1      1    jane@gmail.com   jane      doe
2      2  john@hotmail.com   john      hez