In [1]:
person={
    #key : #Value
    "first" : "corey",
    "last"  : "Schafer",
    "email" : "corey@gmail.com"
}

In [2]:
people={
    #key : #Value
    "first" : ["corey"],
    "last"  : ["Schafer"],
    "email" : ["corey@gmail.com"]
}

In [3]:
people={
    #key : #Value
    "first_name" : ["corey","jane","john","adam"],
    "last_name"  : ["Schafer","doe","hez","Doe"],
    "email" : ["corey@gmail.com","jane@gmail.com","john@hotmail.com","adam@gmail.com"]
}

In [4]:
people["email"]

['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com', 'adam@gmail.com']

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame(people)
df

  first_name last_name             email
0      corey   Schafer   corey@gmail.com
1       jane       doe    jane@gmail.com
2       john       hez  john@hotmail.com
3       adam       Doe    adam@gmail.com

In [7]:
df[['last_name','email']]

  last_name             email
0   Schafer   corey@gmail.com
1       doe    jane@gmail.com
2       hez  john@hotmail.com
3       Doe    adam@gmail.com

In [8]:
print(f"Find Type :\ntype(df)   :   {type(df)},\ntype(df['email'])  :   {type(df['email'])}\ntype(df[['last_name','email']]) :   {type(df[['last_name','email']])}")

Find Type :
type(df)   :   <class 'pandas.core.frame.DataFrame'>,
type(df['email'])  :   <class 'pandas.core.series.Series'>
type(df[['last_name','email']]) :   <class 'pandas.core.frame.DataFrame'>

In [9]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [10]:
#1.loc - Location ; 2. iloc - index location
df.iloc[[0,1],[0,1]] #df.iloc[listof[row,row],listof[column,column]]

  first_name last_name
0      corey   Schafer
1       jane       doe

In [11]:
df.loc[[0,1],['last_name','email']] #df.loc[listof[row,row],listof[column,column]]

  last_name            email
0   Schafer  corey@gmail.com
1       doe   jane@gmail.com

In [12]:
df.set_index('email',inplace=True) # Set Index
df

                 first_name last_name
email
corey@gmail.com       corey   Schafer
jane@gmail.com         jane       doe
john@hotmail.com       john       hez
adam@gmail.com         adam       Doe

In [13]:
df.index

Index(['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com',
       'adam@gmail.com'],
      dtype='object', name='email')

In [14]:
df.loc['corey@gmail.com'] # Search using Search index

first_name      corey
last_name     Schafer
Name: corey@gmail.com, dtype: object

In [15]:
df.reset_index(inplace=True)
df

              email first_name last_name
0   corey@gmail.com      corey   Schafer
1    jane@gmail.com       jane       doe
2  john@hotmail.com       john       hez
3    adam@gmail.com       adam       Doe

Filter

In [16]:
filt = (df['last_name']=='Schafer') | (df['first_name']=='jane')

In [17]:
df[filt]# do this instead of df[df['last']=='doe']

             email first_name last_name
0  corey@gmail.com      corey   Schafer
1   jane@gmail.com       jane       doe

In [18]:
df.loc[filt,'email'] , df.loc[-filt,'email'] #Negative 'not'  -filt

(0    corey@gmail.com
 1     jane@gmail.com
 Name: email, dtype: object,
 2    john@hotmail.com
 3      adam@gmail.com
 Name: email, dtype: object)

Updating rows,Columns - Modifying Data Withi Data Frame

In [19]:
# Capitalize the Column Names
df.columns=[x.upper() for x in df.columns]
df

              EMAIL FIRST_NAME LAST_NAME
0   corey@gmail.com      corey   Schafer
1    jane@gmail.com       jane       doe
2  john@hotmail.com       john       hez
3    adam@gmail.com       adam       Doe

In [20]:
# Replacing Column name  '_' to 'space'
df.columns= df.columns.str.replace('_',' ')
df

              EMAIL FIRST NAME LAST NAME
0   corey@gmail.com      corey   Schafer
1    jane@gmail.com       jane       doe
2  john@hotmail.com       john       hez
3    adam@gmail.com       adam       Doe

In [21]:
# Change Column Name
df.rename(columns={'FIRST NAME':'first','LAST NAME':'last'},inplace=True)
df

              EMAIL  first     last
0   corey@gmail.com  corey  Schafer
1    jane@gmail.com   jane      doe
2  john@hotmail.com   john      hez
3    adam@gmail.com   adam      Doe

In [22]:
df

              EMAIL  first     last
0   corey@gmail.com  corey  Schafer
1    jane@gmail.com   jane      doe
2  john@hotmail.com   john      hez
3    adam@gmail.com   adam      Doe

In [23]:
#Change a complte Object details
df.loc[2]=['johnsmith@gmail.com','John','Smith']

In [24]:
#Change a Multiple Value in a object;just mension the columns
df.loc[2,['EMAIL','last']]=['johnsmith@gmail.com','doe']

In [25]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      doe
2  johnsmith@gmail.com   John      doe
3       adam@gmail.com   adam      Doe

In [26]:
#Change a Single Value in a object;just mension the columns
df.loc[1:2,['last']]=['Doe']  #or df.at[2,'last'] = 'Doe'

In [27]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John      Doe
3       adam@gmail.com   adam      Doe

In [28]:
filt=(df['EMAIL']=='johnsmith@gmail.com')
df[filt]['last']='Smith'
#Warning

df.loc[filt,'last'] = 'Smith' 
# Using loc to do so

C:\Users\nandu\AppData\Local\Temp\ipykernel_20856\312259523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last']='Smith'

In [29]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John    Smith
3       adam@gmail.com   adam      Doe

.apply - Method
=

In [30]:
# Length 
df['EMAIL'].apply(len)

0    15
1    14
2    19
3    14
Name: EMAIL, dtype: int64

In [31]:
def Update_Email(email):
    return email.upper()

In [32]:
#Putting Function inside apply method
df['EMAIL'].apply(Update_Email) #their is no change to the df untill it assign permanently
df['EMAIL']=df['EMAIL'].apply(Update_Email)

In [33]:
df

                 EMAIL  first     last
0      COREY@GMAIL.COM  corey  Schafer
1       JANE@GMAIL.COM   jane      Doe
2  JOHNSMITH@GMAIL.COM   John    Smith
3       ADAM@GMAIL.COM   adam      Doe

In [34]:
#Using Lambda Function
df['EMAIL']=df['EMAIL'].apply(lambda x:x.lower())

In [35]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John    Smith
3       adam@gmail.com   adam      Doe

In [36]:
#Length
df.apply(len), len(df['EMAIL']),df.apply(len,axis='rows')

(EMAIL    4
 first    4
 last     4
 dtype: int64,
 4,
 EMAIL    4
 first    4
 last     4
 dtype: int64)

In [37]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John    Smith
3       adam@gmail.com   adam      Doe

In [38]:
#finding min and max
df.apply(pd.Series.min) , df.apply(pd.Series.max)

(EMAIL    adam@gmail.com
 first              John
 last                Doe
 dtype: object,
 EMAIL    johnsmith@gmail.com
 first                   jane
 last                   Smith
 dtype: object)

In [39]:
df.apply(lambda x:x.min()),df.apply(lambda x:x.max())

(EMAIL    adam@gmail.com
 first              John
 last                Doe
 dtype: object,
 EMAIL    johnsmith@gmail.com
 first                   jane
 last                   Smith
 dtype: object)

.applymap
==

In [40]:
df.applymap(len)

   EMAIL  first  last
0     15      5     7
1     14      4     3
2     19      4     5
3     14      4     3

In [41]:
df.applymap(str.lower)

                 EMAIL  first     last
0      corey@gmail.com  corey  schafer
1       jane@gmail.com   jane      doe
2  johnsmith@gmail.com   john    smith
3       adam@gmail.com   adam      doe

.map
==

In [42]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John    Smith
3       adam@gmail.com   adam      Doe

In [43]:
df['first'].map({'corey':'Ragav','jane':'Johny'})
#Similar to replace method in 146 th and down below code. but in map if you didn't provide any valu. e it become 'NaN'

0    Ragav
1    Johny
2      NaN
3      NaN
Name: first, dtype: object

In [44]:
df['first'].replace({'corey':'Ragav','jane':'Johny'})

0    Ragav
1    Johny
2     John
3     adam
Name: first, dtype: object

Add , Remove and Split
=

In [45]:
#Add Columns
df['fullname']=df['first']+' '+df['last']
df

                 EMAIL  first     last       fullname
0      corey@gmail.com  corey  Schafer  corey Schafer
1       jane@gmail.com   jane      Doe       jane Doe
2  johnsmith@gmail.com   John    Smith     John Smith
3       adam@gmail.com   adam      Doe       adam Doe

In [46]:
#Remove Columns
df.drop(columns=['first','last']) #if imolace=True then it will affect

                 EMAIL       fullname
0      corey@gmail.com  corey Schafer
1       jane@gmail.com       jane Doe
2  johnsmith@gmail.com     John Smith
3       adam@gmail.com       adam Doe

In [47]:
#Split Data
df['fullname'].str.split(' ') , df['fullname'].str.split(' ',expand=True)

(0    [corey, Schafer]
 1         [jane, Doe]
 2       [John, Smith]
 3         [adam, Doe]
 Name: fullname, dtype: object,
        0        1
 0  corey  Schafer
 1   jane      Doe
 2   John    Smith
 3   adam      Doe)

In [48]:
#Add Multiple Columns
df[['first','last']]=df['fullname'].str.split(' ',expand=True)
df

                 EMAIL  first     last       fullname
0      corey@gmail.com  corey  Schafer  corey Schafer
1       jane@gmail.com   jane      Doe       jane Doe
2  johnsmith@gmail.com   John    Smith     John Smith
3       adam@gmail.com   adam      Doe       adam Doe

In [49]:
#Add New row
df=pd.concat({'first':'tony'},ignore_index=True)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [51]:
people2={
    #key : #Value
    "first_name" : ["Nandu","Reshmi","Neethu"],
    "last_name"  : ["AY","Sankar","AY"],
    "email" : ["nandu@gmail.com","reshmi@gmail.com","neethu@hotmail.com"]
}
df2=pd.DataFrame(people2)

In [52]:
df2

  first_name last_name               email
0      Nandu        AY     nandu@gmail.com
1     Reshmi    Sankar    reshmi@gmail.com
2     Neethu        AY  neethu@hotmail.com

In [53]:
#Remove a Row

#df.drop(index=1)

filt=df['last']=='Doe'
df.drop(index=df[filt].index)

                 EMAIL  first     last       fullname
0      corey@gmail.com  corey  Schafer  corey Schafer
2  johnsmith@gmail.com   John    Smith     John Smith

Sorting Data
=

In [54]:
df['last']=df['last'].replace({'Smith':'Doe'})

In [55]:
df

                 EMAIL  first     last       fullname
0      corey@gmail.com  corey  Schafer  corey Schafer
1       jane@gmail.com   jane      Doe       jane Doe
2  johnsmith@gmail.com   John      Doe     John Smith
3       adam@gmail.com   adam      Doe       adam Doe

In [56]:
df.sort_values(by='last', ascending=True)

                 EMAIL  first     last       fullname
1       jane@gmail.com   jane      Doe       jane Doe
2  johnsmith@gmail.com   John      Doe     John Smith
3       adam@gmail.com   adam      Doe       adam Doe
0      corey@gmail.com  corey  Schafer  corey Schafer

In [57]:
df.sort_values(by=['last','first'],ascending=False)

                 EMAIL  first     last       fullname
0      corey@gmail.com  corey  Schafer  corey Schafer
1       jane@gmail.com   jane      Doe       jane Doe
3       adam@gmail.com   adam      Doe       adam Doe
2  johnsmith@gmail.com   John      Doe     John Smith

In [58]:
df.sort_values(by=['last','first'],ascending=[False,True],inplace=True)

In [59]:
df

                 EMAIL  first     last       fullname
0      corey@gmail.com  corey  Schafer  corey Schafer
2  johnsmith@gmail.com   John      Doe     John Smith
3       adam@gmail.com   adam      Doe       adam Doe
1       jane@gmail.com   jane      Doe       jane Doe