In [85]:
person={
    #key : #Value
    "first" : "corey",
    "last"  : "Schafer",
    "email" : "corey@gmail.com"
}

In [86]:
people={
    #key : #Value
    "first" : ["corey"],
    "last"  : ["Schafer"],
    "email" : ["corey@gmail.com"]
}

In [87]:
people={
    #key : #Value
    "first" : ["corey","jane","john"],
    "last"  : ["Schafer","doe","hez"],
    "email" : ["corey@gmail.com","jane@gmail.com","john@hotmail.com"]
}

In [88]:
people["email"]

['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com']

In [89]:
import pandas as pd

In [90]:
df=pd.DataFrame(people)
df

   first     last             email
0  corey  Schafer   corey@gmail.com
1   jane      doe    jane@gmail.com
2   john      hez  john@hotmail.com

In [91]:
df[['last','email']]

      last             email
0  Schafer   corey@gmail.com
1      doe    jane@gmail.com
2      hez  john@hotmail.com

In [92]:
print(f"Find Type :\ntype(df)   :   {type(df)},\ntype(df['email'])  :   {type(df['email'])}\ntype(df[['last','email']]) :   {type(df[['last','email']])}")

Find Type :
type(df)   :   <class 'pandas.core.frame.DataFrame'>,
type(df['email'])  :   <class 'pandas.core.series.Series'>
type(df[['last','email']]) :   <class 'pandas.core.frame.DataFrame'>

In [93]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [94]:
#1.loc - Location ; 2. iloc - index location
df.iloc[[0,1],[0,1]] #df.iloc[listof[row,row],listof[column,column]]

   first     last
0  corey  Schafer
1   jane      doe

In [95]:
df.loc[[0,1],['last','email']] #df.loc[listof[row,row],listof[column,column]]

      last            email
0  Schafer  corey@gmail.com
1      doe   jane@gmail.com

In [96]:
df.set_index('email',inplace=True) # Set Index
df

                  first     last
email
corey@gmail.com   corey  Schafer
jane@gmail.com     jane      doe
john@hotmail.com   john      hez

In [97]:
df.index

Index(['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com'], dtype='object', name='email')

In [98]:
df.loc['corey@gmail.com'] # Search using Search index

first      corey
last     Schafer
Name: corey@gmail.com, dtype: object

In [99]:
df.reset_index(inplace=True)
df

              email  first     last
0   corey@gmail.com  corey  Schafer
1    jane@gmail.com   jane      doe
2  john@hotmail.com   john      hez

Filter

In [109]:
filt = (df['last']=='Schafer') | (df['first']=='jane')

In [110]:
df[filt]# do this instead of df[df['last']=='doe']

             email  first     last
0  corey@gmail.com  corey  Schafer
1   jane@gmail.com   jane      doe

In [113]:
df.loc[filt,'email'] , df.loc[-filt,'email'] #Negative 'not'  -filt

(0    corey@gmail.com
 1     jane@gmail.com
 Name: email, dtype: object,
 2    john@hotmail.com
 Name: email, dtype: object)