In [120]:
person={
    #key : #Value
    "first" : "corey",
    "last"  : "Schafer",
    "email" : "corey@gmail.com"
}

In [121]:
people={
    #key : #Value
    "first" : ["corey"],
    "last"  : ["Schafer"],
    "email" : ["corey@gmail.com"]
}

In [122]:
people={
    #key : #Value
    "first_name" : ["corey","jane","john"],
    "last_name"  : ["Schafer","doe","hez"],
    "email" : ["corey@gmail.com","jane@gmail.com","john@hotmail.com"]
}

In [123]:
people["email"]

['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com']

In [124]:
import pandas as pd

In [125]:
df=pd.DataFrame(people)
df

  first_name last_name             email
0      corey   Schafer   corey@gmail.com
1       jane       doe    jane@gmail.com
2       john       hez  john@hotmail.com

In [132]:
df[['last_name','email']]

  last_name             email
0   Schafer   corey@gmail.com
1       doe    jane@gmail.com
2       hez  john@hotmail.com

In [133]:
print(f"Find Type :\ntype(df)   :   {type(df)},\ntype(df['email'])  :   {type(df['email'])}\ntype(df[['last_name','email']]) :   {type(df[['last_name','email']])}")

Find Type :
type(df)   :   <class 'pandas.core.frame.DataFrame'>,
type(df['email'])  :   <class 'pandas.core.series.Series'>
type(df[['last_name','email']]) :   <class 'pandas.core.frame.DataFrame'>

In [134]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [135]:
#1.loc - Location ; 2. iloc - index location
df.iloc[[0,1],[0,1]] #df.iloc[listof[row,row],listof[column,column]]

  first_name last_name
0      corey   Schafer
1       jane       doe

In [136]:
df.loc[[0,1],['last_name','email']] #df.loc[listof[row,row],listof[column,column]]

  last_name            email
0   Schafer  corey@gmail.com
1       doe   jane@gmail.com

In [137]:
df.set_index('email',inplace=True) # Set Index
df

                 first_name last_name
email
corey@gmail.com       corey   Schafer
jane@gmail.com         jane       doe
john@hotmail.com       john       hez

In [138]:
df.index

Index(['corey@gmail.com', 'jane@gmail.com', 'john@hotmail.com'], dtype='object', name='email')

In [139]:
df.loc['corey@gmail.com'] # Search using Search index

first_name      corey
last_name     Schafer
Name: corey@gmail.com, dtype: object

In [140]:
df.reset_index(inplace=True)
df

              email first_name last_name
0   corey@gmail.com      corey   Schafer
1    jane@gmail.com       jane       doe
2  john@hotmail.com       john       hez

Filter

In [142]:
filt = (df['last_name']=='Schafer') | (df['first_name']=='jane')

In [143]:
df[filt]# do this instead of df[df['last']=='doe']

             email first_name last_name
0  corey@gmail.com      corey   Schafer
1   jane@gmail.com       jane       doe

In [144]:
df.loc[filt,'email'] , df.loc[-filt,'email'] #Negative 'not'  -filt

(0    corey@gmail.com
 1     jane@gmail.com
 Name: email, dtype: object,
 2    john@hotmail.com
 Name: email, dtype: object)

Updating rows,Columns - Modifying Data Withi Data Frame

In [145]:
# Capitalize the Column Names
df.columns=[x.upper() for x in df.columns]
df

              EMAIL FIRST_NAME LAST_NAME
0   corey@gmail.com      corey   Schafer
1    jane@gmail.com       jane       doe
2  john@hotmail.com       john       hez

In [146]:
# Replacing Column name  '_' to 'space'
df.columns= df.columns.str.replace('_',' ')
df

              EMAIL FIRST NAME LAST NAME
0   corey@gmail.com      corey   Schafer
1    jane@gmail.com       jane       doe
2  john@hotmail.com       john       hez

In [148]:
# Change Column Name
df.rename(columns={'FIRST NAME':'first','LAST NAME':'last'},inplace=True)
df

              EMAIL  first     last
0   corey@gmail.com  corey  Schafer
1    jane@gmail.com   jane      doe
2  john@hotmail.com   john      hez

In [149]:
df

              EMAIL  first     last
0   corey@gmail.com  corey  Schafer
1    jane@gmail.com   jane      doe
2  john@hotmail.com   john      hez

In [155]:
#Change a complte Object details
df.loc[2]=['johnsmith@gmail.com','John','Smith']

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      doe
2  johnsmith@gmail.com   John    Smith

In [163]:
#Change a Multiple Value in a object;just mension the columns
df.loc[2,['EMAIL','last']]=['johnsmith@gmail.com','doe']

In [164]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John      doe

In [165]:
#Change a Single Value in a object;just mension the columns
df.loc[1:2,['last']]=['Doe']  #or df.at[2,'last'] = 'Doe'

In [161]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John      Doe

In [167]:
filt=(df['EMAIL']=='johnsmith@gmail.com')
df[filt]['last']='Smith'
#Warning

df.loc[filt,'last'] = 'Smith' 
# Using loc to do so

C:\Users\nandu\AppData\Local\Temp\ipykernel_17856\312259523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last']='Smith'

In [168]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John    Smith

.apply - Method
=

In [169]:
# Length 
df['EMAIL'].apply(len)

0    15
1    14
2    19
Name: EMAIL, dtype: int64

In [170]:
def Update_Email(email):
    return email.upper()

In [174]:
#Putting Function inside apply method
df['EMAIL'].apply(Update_Email) #their is no change to the df untill it assign permanently
df['EMAIL']=df['EMAIL'].apply(Update_Email)

In [175]:
df

                 EMAIL  first     last
0      COREY@GMAIL.COM  corey  Schafer
1       JANE@GMAIL.COM   jane      Doe
2  JOHNSMITH@GMAIL.COM   John    Smith

In [176]:
#Using Lambda Function
df['EMAIL']=df['EMAIL'].apply(lambda x:x.lower())

In [177]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John    Smith

In [179]:
#Length
df.apply(len), len(df['EMAIL']),df.apply(len,axis='rows')

(EMAIL    3
 first    3
 last     3
 dtype: int64,
 3,
 EMAIL    3
 first    3
 last     3
 dtype: int64)

In [181]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John    Smith

In [182]:
#finding min and max
df.apply(pd.Series.min) , df.apply(pd.Series.max)

(EMAIL    corey@gmail.com
 first               John
 last                 Doe
 dtype: object,
 EMAIL    johnsmith@gmail.com
 first                   jane
 last                   Smith
 dtype: object)

In [183]:
df.apply(lambda x:x.min()),df.apply(lambda x:x.max())

(EMAIL    corey@gmail.com
 first               John
 last                 Doe
 dtype: object,
 EMAIL    johnsmith@gmail.com
 first                   jane
 last                   Smith
 dtype: object)

.applymap
==

In [184]:
df.applymap(len)

   EMAIL  first  last
0     15      5     7
1     14      4     3
2     19      4     5

In [186]:
df.applymap(str.lower)

                 EMAIL  first     last
0      corey@gmail.com  corey  schafer
1       jane@gmail.com   jane      doe
2  johnsmith@gmail.com   john    smith

.map
==

In [187]:
df

                 EMAIL  first     last
0      corey@gmail.com  corey  Schafer
1       jane@gmail.com   jane      Doe
2  johnsmith@gmail.com   John    Smith

In [188]:
df['first'].map({'corey':'Ragav','jane':'Johny'})
#Similar to replace method in 146 th and down below code. but in map if you didn't provide any valu. e it become 'NaN'

0    Ragav
1    Johny
2      NaN
Name: first, dtype: object

In [189]:
df['first'].replace({'corey':'Ragav','jane':'Johny'})

0    Ragav
1    Johny
2     John
Name: first, dtype: object